@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Boutique_en_ligne.Models.JeuVideo

@{
    Layout = "_Layout";
}



<div class="card">
    <img src="@Model.pochette_jeu" class="card-img-top" alt="Pochette du jeu">
    <div class="card-body">
        <h5 class="card-title">@Model.titre</h5>
        <p class="card-text">
            <strong>Année de sortie:</strong> @Model.annee_sortie<br>
            <strong>Console du jeu:</strong> @Model.console <br>
            <strong>Genre:</strong> @Model.genre <br>
            <strong>Éditeur:</strong> @Model.editeur <br>
            <div class="form-group mb-4">
                <label for="prix_vente">Prix de vente:</label>
                <input type="number" class="form-control" id="prix_vente" name="prix_vente" required>
            </div>
        </p>
    </div>
    <img src="@Model.capture_ecran" alt="Capture d'écran">
    <form id="AjouterJeuFormAutomatic" asp-action="AddJeuVideo" asp-controller="JeuVideo" method="POST">
        <div class="form-group text-center mt-4">
            <button type="submit" class="btn btn-primary">Ajouter le jeu</button>
        </div>
    </form>
</div>


<style>
    .img {
        max-width: 50%;
        height: auto;
        margin-top: 10px;
    }
</style>