@model List<Boutique_en_ligne.Models.JeuVideo>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<div class="container">
    <h2>Panier</h2>
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Année de sortie</th>
                    <th>Console</th>
                    <th>Genre</th>
                    <th>Éditeur</th>
                    <th>Prix</th>
                    <th>Pochette</th>
                    <th>Capture d'écran</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var jeu in Model)
                {
                    <tr>
                        <td>@jeu.titre</td>
                        <td>@jeu.annee_sortie</td>
                        <td>@jeu.console</td>
                        <td>@jeu.genre</td>
                        <td>@jeu.editeur</td>
                        <td>@jeu.prix_vente</td>
                        <td><img src="@jeu.pochette_jeu" alt="Pochette du jeu" /></td>
                        <td>
                            @if (jeu.capture_ecran != null && jeu.capture_ecran.Any())
                            {
                                <ul>
                                    @for (int i = 0; i < Math.Min(4, jeu.capture_ecran.Length); i++)
                                    {
                                        <li>
                                            <img src="@jeu.capture_ecran[i]" alt="Capture d'écran">
                                        </li>
                                    }
                                </ul>
                            }
                        </td>

                        <td>
                            <form asp-controller="Client" asp-action="SupprimerDuPanier" method="post">
                                <input type="hidden" name="id" value="@jeu.Id" />
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (ViewBag.SoldeInsuffisant != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.SoldeInsuffisant
            </div>
        }
        <form asp-controller="Client" asp-action="Payer" method="post">
            <button type="submit" class="btn btn-success">Payer</button>
        </form>
    }
    else
    {
        <p>Votre panier est vide.</p>
        @if (ViewBag.AchatReussi != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.AchatReussi
            </div>
        }
    }
</div>
